#buttonImg {
    position: absolute;
    width:102%;
    height:165%;
    margin-LEFT:-2%;
    margin-TOP:-7%;
    transition: opacity 0.15s ease-in-out;
    }
    
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    
    @media (max-width:1000px) {
    #buttonImg{
    
    width:90%;
    margin-left:5%;
    margin-top:45%;
    }
    }
    
    body {
    overflow:hidden;
    
    }
    
    
    #blackScreen {
    transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    position:absolute;
    width:150%;
    height:150%;
    margin-top:-200px;
    margin-left:-200px;
    z-index:1;
    opacity:1;
    }
    
    h2 {
    font-family:helvetica;
    position:absolute;
    top:65%;
    left:44%;
    
    
    }